streamlit
opencv-python-headless
numpy
Pillow
matplotlib
scikit-image
scipy
torch
torchvision
tensorflow
keras
kornia
filterpy
scikit-learn
lap
pandas
tqdm
requests
h5py
base64
io
streamlit-drawable-canvas